@media screen and (max-width: 1000px) {
    #message h1{
        font-size: 12vw;
        max-width: 100%;
    }
    #message{
        padding-top:70px;
    }
    #orbit{
        width:100vh;
    }
}

@media screen and (max-width: 1700px){
    .skill{
        flex-basis: 28%;
    }
}

@media screen and (max-width: 1200px){
    .skill{
        flex-basis: 45%;
    }
}

@media screen and (max-width: 850px){
    .skill{
        flex-basis: 90%;
        padding:5%;
    }
}