@font-face {
    font-family: Mono;
    src: url('../assets/fonts/theboldfont.ttf');
}

/* INTRO */

#canvas{
    background-color:#0d0d0d;
    background-image: url("../assets/images/grid-black.svg");
    background-size:30px;
    display:flex;
    justify-content: space-around;
    background-size:26px;
    width:100%;
    height:100vh;
    overflow:hidden;
    position:relative;
}
#orbit{
    z-index: 0;
    position:absolute;
    width:120vw;
    right:0;
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }

}
#message{
    z-index: 1;
    width:100%;
    padding:8%;
}
#message h1{
    width:100%;
    text-align: left;
    font-size: 7vw;
    font-family: 'Mono';
}
#message button{
    margin-top:50px;
}

/* SKILLS */

#skills{
    background-color: #028167;
    padding-bottom: 30px;
    padding-top:150px;
    position:relative;
    overflow:hidden;
}
#skills-section-header{
    font-family: 'Display';
    position:absolute;
    top:0;
    left:0;
    font-size: 100px;
    line-height:150px;
    font-weight:900;
    white-space: nowrap;
    color: #006e58;
}
.skills-container{
    width:90%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill{
    flex-basis: 20%;
    position: relative;
    background-color: #f7f7f7;
    justify-items: flex-start;
    color: black;
    padding: 2%;
    margin-bottom:20px;
}
.skill-icon{
    width:45px;
    height:45px;
    position:absolute;
    top:0px;
    right:0px;
    padding:10px;
    transition: transform 0.3s;
}
.skill:hover .skill-icon{
    transform: scale(1.8);
}
.skill-title{
    font-family: 'Display';
    font-size: 40px;
    line-height:50px;
    width:100%;
    text-align: left;
    border-bottom: 3px solid #e9e9e9;
}
.skill-stat{
    padding-top: 15px;
    font-family: 'Normal';
    font-size: x-large;
    line-height: 25px;
}
.skill-stat span{
    font-weight: bold;
}
.skill-desc{
    padding:10px 0;
    font-family: 'Normal';
    font-size:larger;
    line-height: 25px;
    border-top: 2px solid #f1f1f1;
    margin-top: 15px;
}

/* PROJECTS */

#projects{
    display:none;
    width:100%;
    padding-top:150px;
    background-color:#f2f2f2;
    color:#0d0d0d;
    position:relative;
    overflow: hidden;
}
#projects-section-header{
    font-family: 'Display';
    position:absolute;
    top:0;
    right:0;
    font-size: 100px;
    line-height:150px;
    font-weight:900;
    white-space: nowrap;
    color:#d7d7d7;
}
.project{
    display:flex;
    justify-content: space-evenly;
    width:100%;
}
.project-showcase{
    flex-basis:40%;
    padding:5% 0;
}
.project-info{
    flex-basis:40%;
    padding:5% 0;
}
.project-title{
    padding:10px 0;
    width:100%;
    border-bottom:2px solid #0d0d0d;
}
.project-desc{
    padding:10px;
    font-family:'Normal';
    font-size:1vw;
}

/* FOOTER */

footer{
    display:flex;
    background-color:#0d0d0d;
    justify-content: flex-end;
    height:70px;
    width:100%;
}
#social-icons{
    margin-right:30px;
}
#social-icons img{
    height:40px;
    padding:15px;
    transition: transform 0.3s;
}
#social-icons img:hover{
    transform: scale(1.3);
}