/* ----- CSS RESET ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* -- scrollbar -- */
body::-webkit-scrollbar-track{
	background-color: #0d0d0d;
}

body::-webkit-scrollbar{
	background-color: #0d0d0d;
}

body::-webkit-scrollbar-thumb{
	background-color: #00cca3;
}

@font-face {
    font-family: Display;
    src: url('../assets/fonts/display/Bungee-Regular.otf');
}
@font-face {
    font-family: Display-Sideways;
    src: url('../assets/fonts/display/BungeeLayersRotated-Regular.otf');
}
@font-face {
    font-family: Normal;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

/* ----- SITEWIDE STYLES ----- */

body{
    background-color: #0d0d0d;
    color: #f2f2f2;
}

/* Navigation Bar */
nav{
    background-color:#0d0d0d;
    border-bottom:1px solid #404040;
    font-family: 'Display';
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 30px;
}
#mobile-nav-background{
    position:fixed;
    width:100%;
    background-color:#00cca3;
    height:0px;
    bottom:0;
    background-image:url("../assets/images/grid-teal.svg");
    background-size:auto;
}
#logo{
    font-size:2vw;
    margin-right:auto;
    color: #f2f2f2;
    background-size: cover;
}
#nav-links{
    text-align: left;
    display:flex;
    margin-left:auto;
}
#nav-links li a{
    color: #f2f2f2;
    font-size: 25px;
    letter-spacing: 3px;
    padding:20px;
    transition: letter-spacing 0.3s;
}
#nav-links li a:hover{
    letter-spacing: 10px;
    color: #00cca3;
}
#menu-open-btn{
    display:none;
    position:fixed;
    top:0;
    right:0;
    height:70px;
    width:70px;
    cursor:pointer;
}
#menu-close-btn{
    display:none;
    position:fixed;
    top:0;
    right:0;
    height:70px;
    width:70px;
    z-index:1;
    cursor:pointer;
}

.button{
    font-size:xx-large;
    font-family: 'Display';
    padding: 15px 30px;
    background-color:#00e6b8;
    border-radius:5px;
    border:none;
    color: white;
    cursor:pointer;
    transition: background-color 0.3s;
}
.button:hover{
    background-color:#00cca3;
}
h1{
    font-family: 'Display';
    font-size:40px;
}