/* ----- CSS RESET ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* -- scrollbar -- */
body::-webkit-scrollbar-track{
	background-color: #0d0d0d;
}

body::-webkit-scrollbar{
	background-color: #0d0d0d;
}

body::-webkit-scrollbar-thumb{
	background-color: #ffffff;
}

@font-face {
    font-family: Display;
    src: url('../assets/fonts/theboldfont.ttf');
}
@font-face {
    font-family: Display-Sideways;
    src: url('../assets/fonts/display/BungeeLayersRotated-Regular.otf');
}
@font-face {
    font-family: Normal;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

/* ----- SITEWIDE STYLES ----- */

body{
    background-color: #0d0d0d;
    color: #f2f2f2;
}

/* Landscape */

#landscape{
    display: none;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d0d0d;
    color: #f2f2f2;
    font-size: medium;
    font-family: 'Normal';
    text-transform: uppercase;
    font-weight: 900;
    z-index: 2;
    line-height: 100vh;
}

/* Navigation */

#nav-open-btn{
    position:fixed;
    z-index:2;
    top:0;
    right:0;
    height:70px;
    width:70px;
    cursor:pointer;
    background-color:#0d0d0d;
}
nav{
    width:80%;
    height:0px;
    z-index: 3;
    position:fixed;
    bottom:0;
    font-family: 'Display';
    background-color:#0d0d0d;
    padding:0 10%;
}
#nav-links{
    display:none;
    text-align: center;
}
#nav-links li a{
    line-height: 25vh;
    display:block;
    color: #f2f2f2;
    font-size: 5vw;
    transition: letter-spacing 0.3s;
    border-bottom:2px solid #404040;
}
#nav-links li a:hover{
    letter-spacing: 20px;
    color: #00cca3;
}
#nav-close-btn{
    position:fixed;
    top:0;
    right:0;
    height:70px;
    width:70px;
    z-index:1;
    cursor:pointer;
}

.button{
    font-size:xx-large;
    font-family: 'Display';
    padding: 15px 30px;
    background-color:#00e6b8;
    border-radius:5px;
    border:none;
    color: white;
    cursor:pointer;
    transition: background-color 0.3s;
}
.button:hover{
    background-color:#00cca3;
}
h1{
    font-family: 'Display';
    font-size:40px;
}